{% extends 'base.html' %}
{% block content %}
<div class="container my-3">    
    <div class="mb-5">
        <h3 class="border-bottom py-2">My Questions</h3>
        {% if questions %}
        <ul class="list-group">
            {% for question in questions %}
            <li class="list-group-item">
                <a href="{% url 'pybo:detail' question.id %}">{{ question.subject }}</a>
                <span class="text-muted small">({{ question.create_date }})</span>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-muted">등록한 질문이 없습니다.</p>
        {% endif %}
    </div>
    
    <div class="mb-5">
        <h3 class="border-bottom py-2">My Answers</h3>
        {% if answers %}
        <ul class="list-group">
            {% for answer in answers %}
            <li class="list-group-item">
                <a href="{% url 'pybo:detail' answer.question.id %}">{{ answer.content|truncatewords:20 }}</a>
                <span class="text-muted small">({{ answer.create_date }})</span>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-muted">등록한 답변이 없습니다.</p>
        {% endif %}
    </div>

    <div>
        <h3 class="border-bottom py-2">My Comments</h3>
        {% if comments %}
        <ul class="list-group">
            {% for comment in comments %}
            <li class="list-group-item">
                {% if comment.question %}
                    <a href="{% url 'pybo:detail' comment.question.id %}">{{ comment.content|truncatewords:20 }}</a>
                {% elif comment.answer %}
                    <a href="{% url 'pybo:detail' comment.answer.question.id %}">{{ comment.content|truncatewords:20 }}</a>
                {% endif %}
                <span class="text-muted small">({{ comment.create_date }})</span>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-muted">등록한 댓글이 없습니다.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
